@model NäyttöProjekti.Models.User

@{
    ViewBag.Title = "Login";
}
    <body>
        <div id="login" align="center">

            <form id="login-form" class="form" action="~/Home/Authorize" method="post">
                <h3 class="text-center text-info">Kirjaudu järjestelmään</h3>
                <div class="form-group">
                    <label for="username" class="text-info">Käyttäjätunnus:</label><br>
                    <input type="text" name="username" id="UserName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="text-info">Salasana:</label><br>
                    <input type="text" name="password" id="PassWord" class="form-control">
                </div>
                <div id="register-link" class="text-right">
                    <a href="#" class="text-info">Rekisteröidy</a>
                </div>
                @*<button type="submit" class="btn btn-success">Kirjaudu</button>*@
                <button type="button" class="btn btn-info btn-lg btn3d"><span class="glyphicon glyphicon-question-sign"></span> Login</button>

            </form>

           
        </div>

    </body>

<div>
    @Html.ActionLink("Takaisin etusivulle", "Index")
</div>
